.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 1000px;
  min-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid var(--white);
}

.container:hover {
  border: 2px solid var(--accent-light);
}

.expanded_container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 60px;
  margin: 20px 0;
  border-radius: 20px;
  border: 2px solid var(--accent-light);
}

.close_btn {
  padding: 5px 10px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
}

.img_container {
  position: relative;
  width: 100px;
  height: 100px;
  min-width: 100px;
}

.image {
  object-fit: contain;
  height: 100px;
  width: 100px;
}

.product_name {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  font-size: 1.2rem;
  word-wrap: break-word;
  max-width: 50%;
}

.quantity_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.delete_btn {
  color: var(--danger);
  border-color: var(--danger);
  padding: 5px 10px;
}

.delete_btn:hover {
  color: var(--white);
  border-color: var(--danger-dark);
  background-color: var(--danger-dark);
}

.save_btn {
  padding: 5px 10px;
}

@media screen and (max-width: 400px) {
  .container {
    width: 100%;
    margin: auto;
  }

  .expanded_container {
    gap: 0px;
    padding: 10px 10px;
    margin: 20px 0;
    border-radius: 10px;
  }
}
