.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80%;
  max-width: 1000px;
  min-width: 400px;
  margin: auto;
}

.container > * {
  flex: 1;
}

.img_container {
  position: relative;
  width: 100px;
  height: 100px;
}

.quantity_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.action_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.delete_btn {
  background-color: var(--danger);
  color: var(--white);
  border-color: var(--danger);
  padding: 5px 10px;
}

.delete_btn:hover {
  border-color: var(--danger-dark);
  background-color: var(--danger-dark);
}

.save_btn {
  background-color: var(--success);
  color: var(--white);
  border-color: var(--success);
  padding: 5px 10px;
}

.save_btn:hover {
  border-color: var(--success-dark);
  background-color: var(--success-dark);
}
