.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 260px;
  height: 350px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  font-size: 1.5rem;
}

.img_container {
  position: relative;
  width: 200px;
  height: 200px;
}

.product_name {
  height: 50px;
  font-size: 1.2rem;
  text-align: center;
  word-wrap: break-word;
  z-index: 1;
}

.price {
  color: var(--accent);
}

.add_to_cart_btn {
  border: var(--accent) 2px solid;
  color: var(--accent);
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.add_to_cart_btn:hover {
  background-color: var(--accent);
  border: var(--bg-dark) 2px solid;
  color: var(--bg-dark);
}
